{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">欢迎来到 CDKey Server</h1>
        <p class="lead">这里你可以提取 CDKey,管理提取记录和下级账号。</p>
        <hr class="my-4">
        <p>点击下面的按钮开始使用相应的功能。</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mr-3" href="{% url 'user:generate_cdkey' %}" role="button">提取 CDKey</a>
            <a class="btn btn-secondary btn-lg mr-3" href="{% url 'user:cdkey_record' %}" role="button">提取记录</a>
            <a class="btn btn-info btn-lg" href="{% url 'user:subordinate_list' %}" role="button">下级账号管理</a>
        </div>
    </div>
</div>
{% endblock %}